.chat__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.chat__online {
  background-color: white;
  /* border-bottom: 0.5px solid rgb(109, 98, 98); */

 
  height: 100%;
  border-radius: 15px;
}
.chat__online h3,
.chat__section h3 {

  padding: 10px 20px;
  text-align: start;
  font-size: 1.2rem;
  margin: 0;
  color: var(--color-primary-font);
}
.chat__section {
  height: 100%;


  position: relative;
  /* border: 1px solid red; */
  background-color: white;
  display: flex;
  flex-direction: column;

  /* flex-grow: 1; */
  margin: 0 10px;
  border-radius: 15px;

  padding: 0;

  /* justify-content: space-between; */
}
.chat__input-container {
  width: 100%;

  position: absolute;
  bottom: 0;
  border-radius: 0 0 15px 15px;
}
.chat__input-container form {
  display: flex;
  height: 100%;
  max-height: 80px;
}
.chat__input-container form button {
  flex: 1;
}
.chat__input-container form textarea {
  height: 100%;
  width: 80%;
  border-radius: 0 0 0 15px;
}

.fallback__chat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fallback__chat h1 {
  color: #c7c2c2;
  text-align: center;
}
.chat__section-content {
  /* border: 1px solid red; */
  height: 90%;
  overflow-y: auto;
  width: 100%;
  max-height: 550px;
}
